# Dependencies
node_modules

# Next.js
.next
out

# Turbo
.turbo

# Build files
dist
build

# Android build artifacts (may end up in root when running gradle from wrong directory)
.build
.cxx
mobile/

# Typescript
*.tsbuildinfo

# Env
.env
.env.local

# Logs
*.log